@import url("https://fonts.googleapis.com/css?family=Roboto:300&display=swap");
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap');

$default-font: "Roboto";
$lucky-guy: "Luckiest Guy";
$text-primary: #b6b6b6;
$text-secondary: #ececec;
$bg-primary: #23232e;
$bg-secondary: #141418;
$transition-speed: 600ms;
$scroll-color: rgb(155, 69, 228);
$scroll-2-color: #1e1e24;
